{% load static %}

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">{% block page_title %}Welcome Admin!{% endblock page_title %}</h3>
                        <ul class="breadcrumb">
                            <li class=""><a>Home</a></li>
                            <li class="breadcrumb-item active">/ Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
