{% extends 'base.html' %}

{% block main_content %}

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Edit Class</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Class/ Edit Class</li>
                        </ul>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Class Name </label>
                                            <input type="text" class="form-control" value="{{classs.name}}" placeholder="Enter class" name="class">
                                    </div>
                                </div>
                        {% include 'partials/alert.html' %}
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary btn block">Update Class</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock main_content %}