{% extends 'base.html' %}

{% block main_content %}

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Subject List</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Courses/ Subject List</li>
                        </ul>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="page-title">Subjects</h3>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                                    <a href="{% url 'add_subject' %}" class="btn btn-primary"><i class="fas fa-plus"></i>Add Subjectt</a>
                                </div>
                            </div>
                        </div>
                        {% include 'partials/alert.html' %}
                        <div class="table-responsive">
                            <table table id="table_id" class="table border-0 star-student table-hover table-center mb-0 table-striped">
                                <thead class="student-thread">
                                    <tr>
                                        <!--
                                        <th>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>-->
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Teacher</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                {% for i in subject %}
                                <tbody>
                                    <tr>
                                        <!--
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        -->
                                        <td>{{i.id }}</td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.classs}}</td>
                                        <td>{{i.teacher.admin.first_name}} {{i.teacher.admin.last_name}}</td>
                                       <td>   
                                            <a href="{% url 'edit_subject' i.id  %}" class="btn btn-sm bg-danger-light"><i class="feather-edit"></i></a>
                                            <a href="{% url 'delete_subject'  i.id %}" class="btn btn-sm bg-danger-light"><i class="fas fa-trash"></i></a>                          
                                        </td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}