{% extends 'base.html' %}
{% block main_content %}
<div class="page-header">
   <div class="row align-items-center">
      <div class="col">
         <h3 class="page-title">Edit Exam</h3>
         <ul class="breadcrumb">
            <li class="breadcrumb-item active">Exam/ Edit Exam</li>
         </ul>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            {% for i in exam %}
            <form method="post">
               {% csrf_token %}
               <div class="row">
                  <div class="col-12">
                     <h5 class="form-title"><span>Exam Information</span></h5>
                  </div>
                  <div class="col-12 col-sm-4">
                     <div class="form-group local-forms">
                        <label>Exam Name</label>
                        <input type="text" class="form-control" placeholder="Enter Exam Name" value="{{i.name}}" name="ex_name">
                     </div>
                  </div>
                  <div class="col-12 col-sm-4">
                     <div class="form-group local-forms">
                        <label for="course">Subject <span class="login-danger">*</span></label>
                        <select class="form-control select" id="subject" name="subject">
                           <option>Select Subject</option>
                           {% for i in subject %}
                           <option value=" {{ i.id }}">{{ i.name }}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                       <label>Exam Date</label>
                       <input type="date" class="form-control" name="date">
                    </div>
                 </div>
                  <center>
                  <div class="col-sm-12">
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  </center>
               </div>
            </form>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
</div>
</div>

{% endblock main_content %}